<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Catálogos</title>
</head>

<!--Cuerpo de la pagina-->
<body>

    <!--Encabezado de la pagina-->
    <header>

    </header>

    <!--Contenido principal de la pagina-->
    <main>

        <section class="contTituloPagina">

            <h1>Gestión de Catálogos</h1>

        </section>

        <section class="contGestionCatalogo">

            <form id="" action="#" method="post">

                <table border="1">
                    <thead>
                        <tr>
                            <th><label for="">Producto</label></th>
                            <th><label for="">Descripción del Producto</label></th>
                            <th><label for="">Precio</label></th>
                            <th><label for="">Cantidad Disponible</label></th>
                            <th><label for="">Imagenes</label></th>
                            <th><label for="">Editar Producto</label></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre Producto</td>
                            <td>Descripcion del producto publicado</td>
                            <td>Precio del Producto</td>
                            <td>Cantidad disponible del producto</td>
                            <td><button>Agregar Imagenes</button></td>
                            <td><button>Editar</button></td>
                        </tr>
                    </tbody>
                </table>

                <button>Agregar producto</button>
                <button>Eliminar producto</button>


            </form>

        </section>

    </main>

    <!--Pie de pagina-->
    <footer>
        <p>Derechos reservados  &reg;</p>
    </footer>
    
</body>
</html>