<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Incidentes</title>
</head>

<!--Cuerpo de la pagina-->
<body>

    <!--Encabezado de la pagina-->
    <header>

    </header>

    <!--Contenido principal de la pagina-->
    <main>

        <section class="contTituloPagina">

            <h1>Reporte de Incidentes</h1>

        </section>

        <section class="contReporteIncidente">

            <form id="" action="#" method="post">
                
                <label for="">Lamentamos que hayas tenido un incidente, ¿nos podrías comentar
                    que incidente tuviste?
                </label>
                <br>

                <textarea name="comentariosIncidente" id="comentariosIncidente" rows="5" cols="50"></textarea>
                <br>

                <label for="">Para darte una solución necesitamos que nos adjuntes pruebas
                    (imagenes, recibos, documentos).
                </label>
                <br>
                
                <input type="file" name="" id="">

            </form>

        </section>

    </main>

    <!--Pie de pagina-->
    <footer>
        <p>Derechos reservados  &reg;</p>
    </footer>
    
</body>
</html>