body
{
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #fff;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.barraNav
{
    padding: 0;
}

.sectionBarraNav
{
    background: #0e3af6;
    padding: 0;
}

.ulBarraNav
{
    padding: 0px;
}

.aBarraNav
{
    padding: 15px 0px;
    color: #f3f4f6;
    font-size: 15px;
}

.sectionH1
{
    padding: 15px 0px;
    text-align: center;
}

.h1GC
{
    padding: 0;
    margin: 0;
}

.claseComentarios
{
    padding: 0px 30px;
}

.claseTextarea
{
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    background-color: transparent;
    color: #f3f4f6;
    resize: none;
    font-size: 15px;
}

.claseTextarea:focus
{
    background-color: transparent;
    outline: none;
    border-color: #f3f4f6;
    box-shadow: none;
    color: #f3f4f6;
    font-size: 15px;
}

.claseEvidencias
{
    padding: 0px 30px;
}

.claseInput
{
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    background-color: transparent;
    color: #f3f4f6;
    resize: none;
    font-size: 15px;
}

.claseInput:focus
{
    background-color: transparent;
    outline: none;
    border-color: #fff;
    box-shadow: none;
    color: #f3f4f6;
    font-size: 15px;
}

.claseBoton
{
    padding: 0px 30px;
}

.claseBton
{
    background-color: #6a2ea0;
    border-color: #6a2ea0;
}

.claseBton:hover
{
    background-color: #571f7f;
    border-color: #571f7f;
}

.btn-primary:active
{
    background-color: #6a2ea0 !important;
    border-color: #6a2ea0 !important;
}