<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${crowdfunding.titulo}">Crowdfunding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
    <link href="../css/crowdfunding/detailCrowdfunding.css" rel="stylesheet">
</head>

<body>
    <!-- Encabezado Principal -->
    <header>
        <h1 th:text="${crowdfunding.titulo}">Título del Proyecto</h1>
    </header>

    <!-- Sección principal con imagen y detalles -->
    <main class="container">
        <section class="image-section">
            <img class="main-image" th:src="@{${crowdfunding.main_img}}" alt="Imagen del Emprendimiento">
        </section>

        <section class="details-section">
            <p th:text="${crowdfunding.descripcion}">Descripción del proyecto...</p>
            <p><strong>Meta Monetaria:</strong> <span th:text="${crowdfunding.meta}">Meta</span></p>
            <p><strong>Recaudado:</strong> <span th:text="${crowdfunding.recaudado}">0</span></p>
        </section>

        <section class="action-section">
            <a th:href="@{'/Pago/' + ${crowdfunding.idCrowdfunding}}" class="btn">¡Aportar Ahora!</a>
        </section>
    </main>

    <!-- Pie de Página -->
    <footer>
        <p class="text-muted text-center">© 2024 Crowdfunding Project</p>
    </footer>
</body>

</html>
